*{
    margin: 0%;
    padding: 0%;
    font-family:'Phoppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(288deg, rgba(34,193,195,1) 8%, rgba(223,59,255,1) 71%);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding:40px 30px 70px;
}
.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
button{
    outline: none;
    border: none;
    padding: 16px 50px;
    background: #ac2ca1;;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}
ul li{
    user-select: none;
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    margin: 25px;
}
ul li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 12px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}
ul li span{
    position:absolute;
    right: 0px;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}